* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.logo img {
  width: 125px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section video,
.section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.left-section {
  position: absolute;
  top: 50%;
  left: 0 !important;
  width: 50%;
  transform: translate(0, -50%) !important;
  text-align: left !important;
}

.left-section span {
  color: #cf152d;
}

.left-section a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #cf152d;
  width: calc(50% - 10px);
  text-align: center;
}

.left-section a:hover {
  background-color: #ffffff;
  color: #cf152d;
}

.section h1,
.section h3 {
  font-size: 70px;
  z-index: 2;
}

.section p {
  font-size: 24px;
  margin-top: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000;
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-cell {
  position: relative;
  flex: 1;
  height: 100%;
}

.footer-cell h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-cell ul li {
  display: block;
  list-style: none;
  padding: 8px 12px;
  color: #fff;
}

.footer-cell ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-cell form {
  display: flex;
  align-items: center;
}

.footer-cell form input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

.footer-cell form button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.footer-cell form button:hover {
  background-color: #e73c3c;
  color: #fff;
}

.pizza {
  display: flex;
  width: 2000px;
  margin: 20px;
  font-size: 15px;
}

.pizza img {
  width: 300px;
  margin-right: 20px;
}

.text {
  margin-left: 100px;
  margin-right: 100px;
  text-indent: 5%;
  text-align: justify;
  border: 0.5px solid black;
  margin-top: 20px;
}

.titlepizza {
  margin-top: 25px;
}

.title {
  margin-left: 50px;
}
